.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.test-enter-active, .test-leave-active {
  transition: opacity 0.5s;
}
.test-enter, .test-leave-active {
  opacity: 0;
}
.article-content pre {
    border: 1px solid red;
    border-radius: 2px;
}
